*.class
*.pyc
*~
*.o
version.h
*.sqlite
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Sentiment.xcodeproj
*.DS_Store
External/WekaClassifier/weka-classifiers/target
*.csv
*.sqlite-journal
External/GimpelPOSTagger/gimpel-pos-tagger/target
