body {
    font-size: 20px;
    text-align: center;
}
h4, h3, h2 {
    text-align:center;
}
h4 {
    font-size: 28px;
}
label {
    margin-left: 5px;
    margin-right: 15px;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-ld-4 {
    text-align: left;
}
.prefilled {
    font-style: italic;
    color: #666666;
}

.annotation-unknown {
    color: gray;
}
.annotation-positive {
    color: green;
    font-weight: bold;
}
.annotation-negative {
    color: red;
    text-decoration: underline;
}
.annotation-neutral {
    color: blue;
    font-style: italic;
}
.annotation-no-annotation {
}

.annotation-invalid {
    text-decoration: underline;
    color: #FFCC00;
}
#div-error {
}
